article

  header
    h1 harvey

  div(class='content')
    section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet, orci quis rutrum viverra, sem mauris interdum eros, eget semper massa massa eget massa. Sed sed sapien sollicitudin nunc viverra pharetra. Quisque porttitor, sapien ac imperdiet laoreet, odio dolor euismod nibh, nec mollis lacus nunc nec felis. Fusce quis tellus id odio pulvinar posuere nec id nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum non pretium velit. Etiam vehicula odio ac quam auctor a lacinia massa tempus. Sed id risus eu sapien faucibus viverra eu sit amet velit. Cras dolor purus, sagittis vel congue in, dapibus et lectus. Morbi erat tellus, hendrerit ut lacinia a, fringilla id magna. Duis vehicula scelerisque nunc in blandit.

    section Morbi elementum cursus turpis quis hendrerit. Praesent eu neque a ligula varius vehicula. Cras hendrerit consequat pharetra. Etiam suscipit ornare porttitor. Nunc vel ligula vel orci pretium commodo. Morbi vel nisi eu magna facilisis feugiat. Nullam massa quam, pretium quis interdum vitae, facilisis id augue. Nunc mauris metus, egestas nec consequat quis, tempor at tortor. Phasellus consequat risus eget est blandit condimentum blandit enim dictum. Cras congue tellus sed justo venenatis sagittis.

    section Vivamus blandit mauris vel ligula consequat a tincidunt turpis volutpat. Morbi varius venenatis posuere. Suspendisse potenti. Cras condimentum purus sed massa consequat cursus. Mauris aliquam cursus justo, vulputate pharetra tellus ultricies sed. Morbi sed diam vel libero eleifend tincidunt. Pellentesque euismod pharetra ligula, eu lobortis lectus faucibus scelerisque. Morbi ante tortor, pellentesque nec pretium ut, scelerisque sed dui. Integer interdum libero eu tellus elementum laoreet. Cras ut bibendum ante. Maecenas vitae ante non libero viverra venenatis ac non mi. Ut nunc quam, auctor vel rhoncus ut, mattis in dui. Aliquam nec purus nulla, non convallis turpis. Proin quis odio nibh, at commodo risus. Integer semper pellentesque erat, eget pharetra purus ornare tincidunt. Nulla dignissim sollicitudin posuere.

  footer
    nav
      a about
      a terms of use
      a privacy policy
      a help
